<mat-tab-group>
  <mat-tab label="Code">
    <mat-toolbar>Contract Name</mat-toolbar>
    <app-contract-view-editor
      class="editor-container"
    ></app-contract-view-editor>
  </mat-tab>
  <mat-tab label="Files">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>folder</mat-icon>
        File 1
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>folder</mat-icon>
        File 2
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>folder</mat-icon>
        File 3
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>
