<div class="centered-content">
  <mat-card [class.mat-elevation-z1]="true" class="card-container">
    <mat-card-header>
      <div class="card-container-title"><h1>Registration Page</h1></div>
    </mat-card-header>
    <mat-card-content>
      <div>
        <app-auth-register-form
          [registerForm]="registerForm"
        ></app-auth-register-form>
      </div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <div class="footer-control-container">
        <div>
          <button
            mat-stroked-button
            color="primary"
            class="footer-control-button"
            (click)="register()"
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
          <button
            mat-stroked-button
            color="primary"
            class="footer-control-button"
            (click)="gotoLogin()"
          >
            Already have an Account?
          </button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
